<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IT250-DZ05_MetHotels-Stefan_Ristic_1604 Application Test Suite" annotations="1.5">
    <test name="Unit Tests">
        <packages>
            <package name="com.rile.methotels"/>
        </packages>
    </test>
</suite>
